<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SQL Buddy AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="/static/css/style.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">

        <div class="container-fluid">

            <div class="d-flex flex-column">

                <div class="navbar-brand fw-bold fs-2 text-dark mb-1">

                    <i class="fa-solid fa-robot text-primary"></i>

                    SQL Buddy AI

                </div>

                <div class="text-muted mb-2" style="font-size:15px;">

                    Enterprise AI SQL Copilot

                </div>
  

            </div>

            <span class="badge bg-primary fs-6 px-3 py-2">

                AI Powered

            </span>

        </div>

    </nav>


    <div class="container-fluid mt-4">

        <div class="row">

            <!-- MAIN PANEL -->

            <div class="col-lg-9">
                <div class="row mb-3">

                    <!-- ================= BUSINESS METRICS ================= -->

                    <div class="metric-header">

                        <div class="metric-header-text">

                            <h3> 📊 Business Metrics</h3>

                            <p>Operational usage statistics</p>

                        </div>

                    </div>

                    <!-- Operational KPIs -->
                    <div class="col-md-3">
                        
                        <div class="card metric-card metric-blue">
                            <div class="card-body text-center">
                                <div class="metric-title">
                                    📄 Total Queries
                                </div>

                                <div class="metric-value text-primary">
                                    {{ total_queries }}
                                </div>

                                <div class="metric-description">
                                    Overall platform usage
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card metric-card metric-blue">
                            <div class="card-body text-center">
                                <div class="metric-title">
                                    📈 Rows Returned
                                </div>

                                <div class="metric-value text-primary">
                                    {{ total_rows }}
                                </div>

                                <div class="metric-description">
                                    SQL records returned
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card metric-card metric-blue">
                            <div class="card-body text-center">
                                <div class="metric-title">
                                    ⚡ Avg Runtime
                                </div>

                                <div class="metric-value text-success">
                                    {{ avg_runtime }} ms
                                </div>

                                <div class="metric-description">
                                    Database execution speed
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card metric-card metric-blue">
                            <div class="card-body text-center">
                                <div class="metric-title">
                                    📅 Today
                                </div>

                                <div class="metric-value text-warning">
                                    {{ queries_today }}
                                </div>

                                <div class="metric-description">
                                    Queries executed today
                                </div>
                            </div>
                        </div>
                    </div>

                   <!-- AI KPIs -->
                    <!-- ================= AI METRICS ================= -->

                    <div class="metric-header mt-5">

                        <div class="metric-header-text">

                            <h3> 🤖 AI Evaluation Metrics</h3>

                            <p>Quality and reliability of AI-generated SQL</p>

                        </div>

                        <div class="metric-header-right">

                            <span class="eval-badge">

                                Evaluated Queries :
                                <strong>{{ evaluated_queries }}</strong>

                            </span>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="card metric-card metric-green">

                            <div class="card-body text-center">

                                <div class="metric-title">
                                    ✅ SQL Validity
                                </div>

                                <div class="metric-value text-success">
                                    {{ sql_validity_rate }}%
                                </div>

                                <span class="metric-status success">

                                    {% if sql_validity_rate >= 95 %}
                                        Excellent
                                    {% elif sql_validity_rate >= 80 %}
                                        Good
                                    {% elif sql_validity_rate >= 60 %}
                                        Fair
                                    {% else %}
                                        Needs Attention
                                    {% endif %}

                                </span>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="card metric-card metric-green">

                            <div class="card-body text-center">

                                <div class="metric-title">
                                    🎯 Execution Success
                                </div>

                                <div class="metric-value text-success">
                                    {{ execution_success_rate }}%
                                </div>

                                <span class="metric-status success">

                                    {% if execution_success_rate >= 95 %}
                                        Excellent
                                    {% elif execution_success_rate >= 80 %}
                                        Good
                                    {% else %}
                                        Needs Attention
                                    {% endif %}

                                </span>

                            </div>

                        </div>

                    </div>
                    
                    <div class="col-md-3">

                        <div class="card metric-card metric-purple">

                            <div class="card-body text-center">

                                <div class="metric-title">
                                    ⚡ LLM Response Time
                                </div>

                                <div class="metric-value text-primary">
                                    {{ avg_llm_response_time }} ms
                                </div>

                                <span class="metric-status
                                    {% if avg_llm_response_time <= 500 %}
                                        success
                                    {% elif avg_llm_response_time <= 1000 %}
                                        warning
                                    {% else %}
                                        danger
                                    {% endif %}">

                                    {% if avg_llm_response_time <= 500 %}
                                        Fast
                                    {% elif avg_llm_response_time <= 1000 %}
                                        Acceptable
                                    {% else %}
                                        Slow
                                    {% endif %}

                                </span>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="card metric-card metric-red">

                            <div class="card-body text-center">

                                <div class="metric-title">
                                    ⚠️ Hallucination Rate
                                </div>

                                <div class="metric-value
                                    {% if hallucination_rate == 0 %}
                                        text-success
                                    {% elif hallucination_rate < 5 %}
                                        text-warning
                                    {% else %}
                                        text-danger
                                    {% endif %}">

                                    {{ hallucination_rate }}%

                                </div>

                                <span class="metric-status
                                    {% if hallucination_rate == 0 %}
                                        success
                                    {% elif hallucination_rate < 5 %}
                                        warning
                                    {% else %}
                                        danger
                                    {% endif %}">

                                    {% if hallucination_rate == 0 %}
                                        Safe
                                    {% elif hallucination_rate < 5 %}
                                        Low Risk
                                    {% else %}
                                        High Risk
                                    {% endif %}

                                </span>

                            </div>

                        </div>

                    </div>

                    

                </div>
                <!-- QUESTION CARD -->

                <div class="card shadow border-0 mb-4">

                    <div class="card-body p-4">

                        <h2 class="fw-bold">

                            Enterprise SQL Assistant

                        </h2>

                        <p class="text-muted">

                            Ask business questions in natural language.

                        </p>

                        <form action="/ask-ui"
                              method="post">
                            <textarea
                                name="question"
                                class="form-control mb-3"
                                rows="5"
                                placeholder="Ask a business question..."
                            >{{ question if question else "Show terminated employees receiving verified payments" }}</textarea>
                            
                            <button
                                type="submit"
                                class="btn btn-primary btn-lg">

                                <i class="fa-solid fa-paper-plane"></i>

                                Ask AI

                            </button>

                        </form>

                    </div>

                </div>

                <!-- GENERATED SQL -->

                <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-code"></i>

                            Generated SQL

                        </h5>

                    </div>

                    <div class="card-body">

                        <pre class="sql-box">{{ generated_sql if generated_sql else "Waiting for SQL generation..." }}</pre>

                    </div>

                </div>

                <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-terminal"></i>

                            SQL Workspace

                        </h5>

                    </div>

                    <div class="card-body">

                        <form action="/execute-sql"
                            method="post">

                            <input
                                type="hidden"
                                name="original_sql"
                                value="{{ generated_sql }}"
                            >

                            <textarea
                                name="edited_sql"
                                class="form-control"
                                rows="10"
                            >{{ edited_sql if edited_sql else generated_sql }}</textarea>

                            <button
                                type="submit"
                                class="btn btn-success mt-3">

                                <i class="fa-solid fa-play"></i>

                                Execute SQL

                            </button>

                        </form>

                    </div>

                </div>

                <!--Query REVIEW-->

                <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-shield-halved"></i>

                            SQL Review

                        </h5>

                    </div>

                    <div class="card-body">

                        {% if review %}

                            {% for item in review %}

                                <div class="mb-2">

                                    {{ item }}

                                </div>

                            {% endfor %}

                        {% else %}

                            <div class="text-muted">

                                No review available.

                            </div>

                        {% endif %}

                    </div>

                </div>
                
                {% if sql_error %}

                <div class="card border-danger shadow-sm mb-4">

                    <div class="card-header bg-danger text-white">

                        <h5 class="mb-0">

                            <i class="fa-solid fa-triangle-exclamation"></i>

                            SQL Execution Error

                        </h5>

                    </div>

                    <div class="card-body">

                        <pre class="text-danger mb-0">

                {{ sql_error | safe }}

                        </pre>

                    </div>

                </div>

                {% endif %}

                <!-- RESULTS -->

                <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <div class="d-flex justify-content-between align-items-center">

                            <h5 class="mb-0">

                                <i class="fa-solid fa-table"></i>

                                Results

                            </h5>

                            <a
                                href="/download-csv"
                                class="btn btn-success btn-sm">

                                <i class="fa-solid fa-download"></i>

                                CSV

                            </a>

                        </div>

                    </div>

                    <div class="card-body">

                        {% if results %}

                        <div class="table-responsive">

                            <table class="table table-striped table-hover">

                                <thead>

                                    <tr>

                                        {% for col in results[0].keys() %}

                                        <th>{{ col }}</th>

                                        {% endfor %}

                                    </tr>

                                </thead>

                                <tbody>

                                    {% for row in results %}

                                    <tr>

                                        {% for value in row.values() %}

                                        <td>{{ value }}</td>

                                        {% endfor %}

                                    </tr>

                                    {% endfor %}

                                </tbody>

                            </table>

                        </div>

                        {% else %}

                        <div class="alert alert-info">

                            Results will appear here.

                        </div>

                        {% endif %}

                    </div>

                </div>

            </div>

            <!-- RIGHT PANEL -->

            <div class="col-lg-3">

                <!-- TABLES -->

                <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-database"></i>

                            Tables Available

                        </h5>

                    </div>

                    <div class="card-body">

                        <span class="badge bg-primary m-1">
                            emp_status
                        </span>

                        <span class="badge bg-success m-1">
                            payment
                        </span>

                        <span class="badge bg-warning text-dark m-1">
                            deferred_benefit
                        </span>

                        <span class="badge bg-info text-dark m-1">
                            job_history
                        </span>

                    </div>

                </div>

                <!-- RETRIEVED METADATA -->

                <!-- <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-brain"></i>

                            Retrieved Metadata

                        </h5>

                    </div>

                    

                    <div class="card-body">

                        {% if metadata_docs %}

                            {% for doc in metadata_docs %}

                                <div class="border rounded p-2 mb-2">

                                    <small>

                                        {{ doc[:150] }}...

                                    </small>

                                </div>

                            {% endfor %}

                        {% else %}

                            <div class="text-muted">

                                Metadata will appear here.

                            </div>

                        {% endif %}

                    </div>

                </div> -->

                <!-- RECENT QUERIES -->

                <div class="card shadow-sm border-0 mb-4">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-clock-rotate-left"></i>

                            Recent Queries

                        </h5>

                    </div>

                    <div class="card-body">

                        {% if recent_queries %}

                            {% for query in recent_queries %}

                                <div class="border rounded p-2 mb-2">

                                    <div class="fw-semibold">

                                        <a href="/rerun-query/{{ query.id }}"
                                            class="text-decoration-none">

                                                {{ query.question }}

                                            </a>

                                    </div>

                                    <small class="text-muted">

                                        {{ query.row_count }} rows

                                        •

                                        {{ query.execution_time_ms }} ms

                                    </small>

                                </div>

                            {% endfor %}

                        {% else %}

                            <div class="text-muted">

                                No query history yet.

                            </div>

                        {% endif %}

                    </div>

                </div>

                <!-- ENVIRONMENT -->

                <div class="card metric-card metric-purple">

                    <div class="card-header bg-white">

                        <h5>

                            <i class="fa-solid fa-server"></i>

                            Environment

                        </h5>

                    </div>

                    <div class="card-body">

                        <p>🟢 FastAPI</p>

                        <p>🟢 PostgreSQL</p>

                        <p>🟢 ChromaDB</p>

                        <p>🟢 Groq LLM</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>

    document.addEventListener(
        "DOMContentLoaded",
        function () {

            const form = document.querySelector("form");
            const button = document.getElementById("ask-btn");

            if(form){

                form.addEventListener(
                    "submit",
                    function(){

                        button.disabled = true;

                        button.innerHTML =
                            "Generating SQL...";

                    }
                );

            }

        }
    );

    </script>

    <footer class="mt-5 py-4 text-center text-muted">

        <hr>

        <h6>

            SQL Buddy AI

        </h6>

        <small>

            Enterprise Text-to-SQL Platform

        </small>

        <br>

        <small>

            Powered by Python • FastAPI • Supabase • ChromaDB • Groq • Render 

        </small>

    </footer>

</body>

</html>